@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://cdn.font-store.ir/fonts/yekan/Yekan-Regular.woff2) format("woff2"), url(https://cdn.font-store.ir/fonts/yekan/Yekan-Regular.woff) format("woff"), url(https://cdn.font-store.ir/fonts/yekan/Yekan-Regular.ttf) format("truetype"), url(https://cdn.font-store.ir/fonts/yekan/Yekan-Regular.otf) format("opentype");
    font-family: "yekan";
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url(https://cdn.font-store.ir/fonts/yekan/Yekan-Bold.woff2) format("woff2"), url(https://cdn.font-store.ir/fonts/yekan/Yekan-Bold.woff) format("woff"), url(https://cdn.font-store.ir/fonts/yekan/Yekan-Bold.ttf) format("truetype"), url(https://cdn.font-store.ir/fonts/yekan/Yekan-Bold.otf) format("opentype");
    font-family: "yekan";
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: "yekan", "Roboto", monospace !important;
}
